
.card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  .card-img-top {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #666;
    margin-bottom: 15px;
  }

  .boton-verMas{
    text-decoration: none;
    color: black;
    border-color: black;
  }

  
