.catalog-title{
  color: black;
}

.product-card{
  border-radius: 0;
  background-color: black;
}

.product-name{
  color: white;
}
.product-description{
  color: white;
}
.product-price{
  color: white;
}

.product-buy-button{
  border-radius: 0;
  background-color: white;
  border-color: black;
  color: black;
}

.product-buy-button:hover{
  background-color: rgb(32, 32, 32);
  border-color: white;
}

