.my-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0px;
  }
  .my-button:hover {
    transition: all 0.2s;
    transform: scale(1.05); 
  }
  .my-button:active {
    background-color: #000000;
  }
  a{
    text-decoration: none;
    color: white;
  }

 

 